body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: black;
    color: white;
}
#logo{
    color: hsl(186 100% 69%);
    font-size: 30px;
    margin-right: 15px;
    animation: mylogo 1s linear 1s infinite ;
}
@keyframes mylogo{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.2);
    }
    75%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
iconify-icon{
   font-size: 20px;
   padding-top: 7px;
   cursor: pointer;
   font-weight: bolder;
   transition: 0.5s;
}
iconify-icon:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
#icon1{
    color: red;
}

#icon2{
    color: blue;
}
#icon3{
    color: orange;
}
input{
    width: 70%;
    font-weight: bold;
    padding-left: 1%;
    outline: 0;
    border: none;
    border-bottom: 2px solid hsl(186 100% 69%);
    background-color: black;
    color: white;
}
input::placeholder{
    font-weight: bold;
    color: white;
}

.mydiv{
    border: 1px solid hsl(186 100% 69%);
    border-radius: 10px;
}
.icondiv{
    display: flex;
    justify-content: space-around;
    border-bottom: 0.1px dotted hsl(186 100% 69%);
}
.textdiv p {
    padding: 2px 15px 0px 15px;
}
.glowing-btn{
    position: relative;
    color: hsl(186 100% 69%);
    padding: 0.35em 2em;
    border: 0.15em solid hsl(186 100% 69%);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    -webkit-box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 69%);
    -moz-box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 69%),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 69%),
    0px 0px 0.5em 0px hsl(186 100% 69%);
  animation: border-flicker 2s linear infinite;
  letter-spacing: 1.5px;
}
.glowing-txt {
    float: left;
    -webkit-text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3),
      0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3),
      0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em hsl(186 100% 69%);
    animation: text-flicker 3s linear infinite;
  }
  
  .faulty-letter {
    opacity: 0.7;
    animation: faulty-flicker 2s linear infinite;
  }
  
  .glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: hsl(186 100% 69%);
    pointer-events: none;
  }
  
  .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: hsl(186 100% 69%);
    box-shadow: 0 0 2em 0.2em hsl(186 100% 69%);
    transition: opacity 100ms linear;
  }
  
  .glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
    font-weight: bold;
  }
  
  .glowing-btn:hover .glowing-txt {
    animation: none;
  }
  
  .glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }
  
  .glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }
  
  .glowing-btn:hover:after {
    opacity: 1;
  }
  
  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
  
    87% {
      opacity: 1;
    }
  }
  
  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }
  
  @keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
  
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .glowing-btn{
      font-size: 12px;
    }
  }
  